body {
  font-family: "Arial", sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.profile-container {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  display: flex;
  width: 40%;
  justify-content:space-evenly;
  gap: 15%;
}

.profile-card {
  padding: 20px;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #0056b3;
  margin-bottom: 20px;
}

.user-name,
.user-email,
.user-gender {
  color: #333;
  margin: 5px 0;
}

.edit-btn {
  background-color: #0056b3;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

.edit-btn:hover {
  background-color: #004494;
}

.poems-section {
  margin-top: 20px;
  padding: 20px;
  width: 40%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.poems-section h2 {
  color: #333;
}

.poem-list {
  list-style: none;
  padding: 0;
}

.poem-list li {
  padding: 10px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.poem-title {
  font-size: 16px;
  color: #555;
}

.edit-poem-btn {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-poem-btn:hover {
  background-color: #0056b3;
}
